.wrap {
  width: 100%;
  padding: 40px 0 80px 0;
  margin-bottom: 1px;
  background-color: var(--nt-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--nt-green);
  position: relative;
  z-index: 1;
  text-align: center;
  @media screen and (min-width: '768px') {
    padding: 80px 0 150px 0;
  }
  @media screen and (min-width: '1024px') {
    padding: 80px 0 250px 0;
  }

  h2 {
    margin-top: 0;
  }
}

.cards {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  @media screen and (min-width: '768px') {
    margin: 0 25px;
  }
}

.icon {
  height: 50px;
  width: auto;
  fill: var(--nt-green);
  @media screen and (min-width: '768px') {
    height: 80px;
  }
}

.timerWrap {
  border-radius: 15px;
  padding: 0 20px;
  color: var(--nt-green);

  h3 {
    text-transform: uppercase;
  }
}
