.wrap {
  align-items: center;
  color: var(--nt-orange);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 100px 0 0 0;
  text-align: center;
}

.logoMap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 90%;
  @media screen and (min-width: '768px') {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.date {
  color: var(--nt-orange);
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
}

.logo {
  display: flex;
  height: auto;
  svg {
    width: 200px;
    @media screen and (min-width: '768px') {
      width: 266px;
    }
  }
}

.link {
  color: var(--nt-white);
  transform: color 200ms ease;
  &:hover {
    color: var(--nt-orange);
  }
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  margin: 0 10px 40px 10px;
  width: 100%;
  p {
    color: var(--nt-white);
    font-size: 0.8rem;
    margin-bottom: 0;
    @media screen and (min-width: '768px') {
      font-size: 1rem;
      width: 24%;
    }
    @media screen and (min-width: '992px') {
      width: 30%;
    }
  }
  @media screen and (min-width: '768px') {
    align-items: end;
    flex-direction: row;
    gap: 50px;
  }
}

.sitemap {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  h4 {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }

  a {
    cursor: pointer;
    transition: color 500ms ease;

    &:hover {
      color: var(--nt-orange);
    }
  }
}

.links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.disabledLink {
  color: var(--nt-white);
  cursor: not-allowed;
  opacity: 0.65;
  text-transform: uppercase;
}
