.wrap {
  align-items: center;
  background-color: var(--nt-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  position: fixed;
  top: 0;
  transition: transform 200ms ease, opacity 200ms ease;
  width: 100vw;
  will-change: transform, opacity;
  z-index: 9999;

  @media screen and (min-width: '992px') {
    margin-top: 0px;
    padding-top: 20px;
  }

  &:-webkit-full-screen {
    opacity: 0 !important;
    transform: translateY(-100%) scaleY(0) !important;
  }

  @media (display-mode: fullscreen) {
    opacity: 0 !important;
    transform: translateY(-100%) scaleY(0) !important;
  }
}

.menuLang{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-left: auto;
}

.show {
  opacity: 1;
  transform: none;
}

.hide {
  opacity: 0;
  transform: translateY(-100%) scaleY(0);
}

.menuIcon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0 15px;
  width: 30px;
  z-index: 999;
}

.logoNT {
  align-items: center;
  display: flex;
  fill: var(--nt-white);
  justify-content: center;
  left: 50%;
  margin: 15px 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100px;

  svg {
    height: auto;
    transition: fill 0.5s ease;
    width: inherit;
    will-change: fill;
  }
  @media screen and (min-width: '768px') {
    width: 150px;
  }
  @media screen and (min-width: '992px') {
    width: 150px;
  }
}
