.wrap {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  z-index: 9999;
  background-color: var(--nt-green);
  transition: transform 200ms ease, opacity 200ms ease;
  will-change: transform, opacity;

  @media screen and (min-width: '992px') {
    padding-top: 20px;
    margin-top: 0px;
  }

  &:-webkit-full-screen {
    transform: translateY(-100%) scaleY(0) !important;
    opacity: 0 !important;
  }

  @media (display-mode: fullscreen) {
    transform: translateY(-100%) scaleY(0) !important;
    opacity: 0 !important;
  }
}

.show {
  transform: none;
  opacity: 1;
}

.hide {
  transform: translateY(-100%) scaleY(0);
  opacity: 0;
}

.menuIcon {
  margin-right: 15px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  @media screen and (min-width: '992px') {
    display: none;
  }
}

.logoNT {
  margin-left: 15px;
  width: 130px;
  fill: var(--nt-white);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: inherit;
    height: auto;
    transition: fill 0.5s ease;
    will-change: fill;
  }
  @media screen and (min-width: '768px') {
    margin-left: 25px;
    width: 180px;
  }
  @media screen and (min-width: '992px') {
    margin-left: 35px;
    width: 200px;
  }
}
