.subTitle {
  margin-bottom: 70px;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  gap: 40px 20px;
}

.review {
  display: flex;
  width: 150px;
  height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: '768px') {
    width: 250px;
    height: 290px;
  }
}

.icon {
  height: 30px;
  @media screen and (min-width: '768px') {
    height: 50px;
  }
}

.rank {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--nt-very-dark-green);
  margin: 0;
}

.topic {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--nt-orange);
  @media screen and (min-width: '768px') {
    font-size: 1.5rem;
  }
}
