.languagePicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  p {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid var(--nt-orange);
    // background-color: var(--nt-orange);
    color: var(--nt-orange);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 5px;

    svg {
      fill: var(--nt-orange);
    }
  }
}

.dropdown {
  position: absolute;
  bottom: 110%;
  left: 0;
  align-self: center;
  border-radius: 10px;
  padding: 0 10px;
  margin: -10px 0;
  border: 1px solid var(--nt-orange);
  width: 100%;
  transform-origin: bottom center;
  transition: transform 200ms ease, opacity 200ms ease;
  transform: rotateX(0deg);
  background-color: var(--nt-white);
  @media screen and (min-width: 768px) {
    background-color: var(--nt-green);
    align-self: end;
    right: 0;
  }
}

.dropdownClosed {
  @extend .dropdown;
  transform: rotateX(90deg);
  opacity: 0;
}

.languageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
}

.languageActive {
  @extend .language;
  color: var(--nt-orange) !important;
}

.separator {
  height: 1px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--nt-orange);
  margin: 0;
  opacity: 0.8;
}

.flag {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  object-fit: cover;
}
