.wrap {
  ul {
    z-index: 2;
    bottom: 20px;
    li {
      button {
        &::before {
          color: var(--nt-orange) !important;
          background-color: var(--nt-orange) !important;
          border-radius: 50%;
        }
      }
    }
  }
}
