.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 80%;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  @media screen and (min-width: 768px) {
    gap: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  svg {
    width: 100px;
    @media screen and (min-width: 768px) {
      margin-top: 30px;
      width: 140px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h3 {
    color: var(--nt-orange);
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: var(--nt-orange);
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
