.wrapper {
  color: var(--nt-white);
  width: 90%;
  text-align: center;
  margin-top: 30px;
  @media screen and (min-width: '768px') {
    width: 60%;
  }
}

.wrap {
  border: 8px solid var(--nt-transparent-orange);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  transition: transform 200ms ease;
  color: var(--nt-white);

  & svg {
    filter: drop-shadow(0 0 0px var(--nt-orange));
  }
}

.lightUp {
  transform: scale(1.02);
  .outShadow {
    opacity: 0.8;
  }
  .inShadow {
    opacity: 0.8;
  }
  .decorationUp {
    opacity: 1;
  }
  svg {
    filter: drop-shadow(0 0 5px var(--nt-orange));
    fill: var(--nt-orange);
  }
}

.outShadow {
  box-shadow: 0 0 15px 0px var(--nt-orange);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.12, -0.96, 0.96, 1.97);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

.inShadow {
  @extend .outShadow;
  border: 8px solid var(--nt-orange);
  box-shadow: 0 0 15px 0px var(--nt-orange) inset;
}

.decorationUp {
  position: absolute;
  width: 150px;
  left: -155.5px;
  transition: fill 500ms cubic-bezier(0.12, -0.96, 0.96, 1.97), filter 500ms cubic-bezier(0.12, -0.96, 0.96, 1.97);
  opacity: 0.6;
  @media screen and (max-width: '767px') {
    display: none;
  }
}

.decorationDown {
  @extend .decorationUp;
  transform: rotate(180deg);
  left: auto;
  right: -155.5px;
}
