.video {
  width: 90%;
  height: auto;
  min-height: 15S0px;
  min-width: 200px;
  max-width: 250px;
  border: none;
  max-width: inherit;
  border-radius: 10px;

  @media screen and (min-width: '768px') {
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
  }
}
