.wrap {
  position: relative;
}
.wrapText {
  position: absolute;
  margin: 50px 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  // mix-blend-mode: soft-light;
  h3 {
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: 0.4;
    font-family: 'Alba';
    width: fit-content;
  }
  p {
    margin: 0 20px;
    text-shadow: 0 0 10px black;
    // opacity: 0.8;
  }

  @media screen and (min-width: '768px') {
    align-items: flex-end;
    width: 40%;
    text-align: right;
    right: 4%;
    h3 {
      font-size: 10rem;
    }

    p {
      margin: 0 40px;
      max-width: 450px;
    }
  }
}

.wrapTextReverse {
  @extend .wrapText;
  right: auto;
  @media screen and (min-width: '768px') {
    align-items: flex-start;
    left: 4%;
    text-align: left;
  }
}

.bigImage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100vw;
    opacity: 0.5;
    background: linear-gradient(to right, var(--nt-orange) -10%, var(--nt-green) 90%);
  }
}

.bigImageReverse {
  @extend .bigImage;
  span {
    right: auto;
    left: 0;
    transform: scaleX(-1);
  }
}

.image {
  height: 100vh;
  overflow: hidden;
  // min-width: 100vw;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  video {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover;
  }
}

.scrollingImages {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  // transition: transform 200ms ease;
  // will-change: transform;
}

.scrollingImagesReverse {
  @extend .scrollingImages;
  flex-direction: row;
}
