@keyframes light {
  0% {
    stroke: var(--nt-dark-green);
  }
  90% {
    stroke: var(--nt-dark-green);
  }
  100% {
    stroke: var(--nt-transparent-orange);
  }
}

@keyframes lightFromLight {
  0% {
    stroke: var(--nt-light-green);
  }
  90% {
    stroke: var(--nt-light-green);
  }
  100% {
    stroke: var(--nt-transparent-orange);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}
