@import 'scrollbar';
:root {
  // --nt-green: #025300;
  // --nt-dark-green: #014900;
  // --nt-very-dark-green: #002400;
  // --nt-light-green: #0a5908;

  --nt-green: #214921;
  --nt-dark-green: #1c3c1c;
  --nt-very-dark-green: #142314;
  --nt-light-green: #3c5d3b;

  --nt-soft-green: #ecffe0;

  --nt-orange: #e98a15;
  --nt-transparent-orange: #e98a1560;

  --nt-white: #fdfdff;
}

@font-face {
  font-family: 'Alba';
  font-style: normal;
  font-weight: normal;
  src: local('Alba'), url('/fonts/alba/ALBA____.woff2') format('woff2');
  font-display: 'swap';
}

html {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--nt-green);
  color: var(--nt-white);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  @media screen and (min-width: '768px') {
    font-size: 18px;
  }
  @media screen and (min-width: '2048px') {
    font-size: 20px;
  }
}

.cuttedText {
  position: relative;
  opacity: 0.7;
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    top: 50%;
    background-color: var(--nt-orange);
    opacity: 0.7;
    transform: rotate(-10deg) translateY(-50%);
  }
}

h1 {
  font-size: 30px;
  @media screen and (min-width: '768px') {
    font-size: 50px;
  }
}

h2 {
  font-size: 30px;
  @media screen and (min-width: '768px') {
    font-size: 45px;
  }
}

h3 {
  font-size: 21px;
  @media screen and (min-width: '768px') {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
  color: var(--nt-orange);
}
