@use './styled';

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;

  h1,
  p {
    position: relative;
    z-index: 5;
    width: max-content;
    padding: 0 20px;
  }
}

.button {
  @include styled.button;
  position: relative;
  z-index: 5;
}
