@use 'src/styles/styled';

.wrapMobile {
  background-color: var(--nt-white);
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.25);
  min-height: 520px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, -100%);
  transition: transform 200ms ease-in-out;
  width: 100%;
  will-change: transform;
  z-index: -1;

  @media screen and (min-width: '992px') {
    display: none;
  }

  a,
  p {
    color: var(--nt-green);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }

  svg {
    fill: var(--nt-green);
  }
}

.wrapDesktop {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 35px;
  width: 100%;

  @media screen and (max-width: '991px') {
    display: none;
  }

  a,
  p {
    color: var(--nt-white);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }

  svg {
    fill: var(--nt-white);
  }
}

.link {
  position: relative;
  transition: color 0.5s ease;
  width: max-content;
  will-change: color;

  &::before {
    background-color: var(--nt-orange);
    bottom: 0;
    content: ' ';
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 200ms ease;
    width: 0;
  }
  &:hover {
    &::before {
      content: ' ';
      width: 100%;
    }
  }
}

.disabledLink {
  cursor: not-allowed;
  opacity: 0.65;

  &::before {
    width: 0 !important;
  }
}

.linksMobile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 70px;
  width: 100%;
  > * {
    margin: 20px 10px;
  }
}

.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -10px;
  width: 100%;
}

.buttonMobile {
  @include styled.buttonFull;
  align-items: center;
  color: var(--nt-green) !important;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.button {
  @include styled.buttonFull;
  align-items: center;
  // margin-top: -10px;
  color: var(--nt-green) !important;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-right: 30px;
}
