.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 2;

  a {
    margin: 0;
  }

  h4 {
    margin: 0 10% 50px 10%;
    font-size: 0.8rem;
    @media screen and (min-width: '768px') {
      margin: 0 15% 50px 15%;
      font-size: 1.1rem;
    }
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 120px;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    flex: 1 1 180px;
  }
}

.logo {
  height: fit-content;
  border-radius: 2px;
  height: 130px;
  width: auto;
  img {
    object-fit: contain !important;
  }

  @media screen and (min-width: 768px) {
    height: 180px;
  }
}
