.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 2;

  a {
    margin: 0;
  }

  h4 {
    margin: 0 10% 50px 10%;
    font-size: 0.8rem;
    @media screen and (min-width: '768px') {
      margin: 0 15% 50px 15%;
      font-size: 1.1rem;
    }
  }
}

.wrap {
  display: flex;
  flex-direction: row !important;
  width: 90%;
  flex-wrap: wrap;
  flex: 1 1 120px;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    flex: 1 1 180px;
  }
}

.logo {
  border-radius: 2px;
  width: 120px;
  img {
    object-fit: contain !important;
  }

  @media screen and (min-width: 768px) {
    width: 170px;
  }
}

.logoHorizontal {
  @extend .logo;
  height: 20px;
  min-width: 300px;
  width: fit-content !important;
  @media screen and (min-width: 768px) {
    height: 40px;
    width: fit-content !important;
  }
}
