.wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 5px;
  // border: 3px solid var(--nt-green);
  color: var(--nt-green);
  background-color: var(--nt-orange);
  text-decoration: none;
  font-weight: bold;
  transition: transform 200ms ease-out;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
  font-size: 0.8rem;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

.image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}
