.image {
  width: auto;
  @media screen and (min-width: '768px') {
    min-width: 40vw;
    max-width: 40vw;
    min-height: 50vh;
    max-height: 50vh;
  }
}

.heading {
  position: relative;
  z-index: 5;
  margin-top: 20px;
}
