@use 'src/styles/styled';

.button {
  @include styled.button;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  will-change: color;

  &:hover {
    color: var(--nt-green);
    span {
      transform: translateY(0) scale(2);
    }
  }

  span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--nt-orange);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: transform 0.5s ease;
    will-change: transform;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    &:nth-child(1) {
      --n: 1;
    }
    &:nth-child(2) {
      --n: 2;
    }
    &:nth-child(3) {
      --n: 3;
    }
    &:nth-child(4) {
      --n: 4;
    }
  }
}

.hoverWhite {
  &:hover {
    color: var(--nt-white) !important;
  }
}
