.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 200ms ease;
  will-change: transform;
  background-color: var(--nt-white);
  @media screen and (min-width: '992px') {
    background-color: transparent;
  }
}

.wrapShown {
  @extend .wrap;
  transform: translateY(-450%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0px 40px 0 rgb(0, 0, 0, 0.2);
  padding: 20px 46px 0 46.5px;
  @media screen and (min-width: '992px') {
    transform: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    padding: initial;
  }
}

.links {
  transition: transform 200ms ease-in-out;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  z-index: -1;
  background-color: var(--nt-white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 20px 20px 0 rgb(0, 0, 0, 0.2);
  padding: 5px 10px;

  a {
    margin: 10px 5px;
  }

  @media screen and (min-width: '992px') {
    background-color: var(--nt-green);
  }
}

.name {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 0;
  cursor: pointer;

  svg {
    transition: transform 200ms ease;
    will-change: transform;
  }

  @media screen and (min-width: '992px') {
    margin-top: 20px;
  }
}
