.circle {
  border-radius: 50%;
  border: var(--nt-light-green) solid 5px;
  width: 10px;
  min-width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  z-index: 10;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    border: var(--nt-light-green) solid 10px;
    margin-right: 0;
    margin-left: 0;
  }
}
