.shovel {
  width: 180px;
  height: auto;
  filter: drop-shadow(-20px 10px 7px rgba(0, 0, 0, 0.25));
  & g {
    animation-duration: 10s;
  }
  @media screen and (min-width: '768px') {
    width: 280px;
  }
}

.shovelSlower {
  @extend .shovel;
  & g {
    animation-duration: 20s;
  }
}
