.wrapper {
  width: 100%;
  margin: 5% 0;
  background-color: var(--nt-orange);
  padding: 20px 10px;
  @media screen and (min-width: '768px') {
    padding: 40px 20px;
  }

  h2 {
    margin-top: 0;
    color: var(--nt-green);
    width: 100%;
    text-align: center;
  }
}

.image {
  width: 100px;
  @media screen and (min-width: '768px') {
    width: 170px;
  }
}

.slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  @media screen and (min-width: '768px') {
    min-height: 170px;
  }

  a {
    text-decoration: none;
    color: var(--nt-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    gap: 10px;
    font-weight: 700;
  }
}
