.wrap {
  background-color: var(--nt-white);
  width: 100vw;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--nt-green);
  text-align: center;
}

.collina {
  fill: var(--nt-green);
  margin-top: 50px;
  margin-bottom: -1px;
  width: 100vw;
  height: auto;
}
