.wrap {
  border: 3px solid var(--nt-orange);
  color: var(--nt-orange);
  border-radius: 10px;
  width: 90%;
  text-align: center;

  @media screen and (min-width: '768px') {
    width: 60%;
  }

  h2 {
    font-weight: 800;
    font-size: 22px;
    margin: 10px;
    @media screen and (min-width: '768px') {
      font-size: 30px;
    }
    @media screen and (min-width: '992px') {
      font-size: 40px;
    }
  }
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  @media screen and (min-width: '768px') {
    flex-direction: row;
  }
}

.becci {
  width: 150px;
  height: 200px;
  img {
    object-position: center bottom;
  }
  @media screen and (min-width: '768px') {
    width: 200px;
    height: 250px;
  }
}
