.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;

  @media screen and (min-width: 768px) {
    margin: 25px 0;
  }

  span {
    display: flex;
    flex-direction: row;
  }
}

.timeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 5px;
  width: 61px;
  z-index: 10;
  :nth-child(2) {
    margin-top: 0;
  }
  @media screen and (min-width: 768px) {
    margin: 0 0 10px;
    width: 100px;
  }
}

.time {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  position: relative;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
