@use 'src/styles/styled';

.wrapMobile {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  background-color: var(--nt-white);
  will-change: transform;
  transition: transform 200ms ease-in-out;
  transform: translate(0, -100%);
  opacity: 0;

  @media screen and (min-width: '992px') {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--nt-green);
    text-transform: uppercase;
    font-weight: 600;
  }
}

.wrapDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 35px;

  @media screen and (max-width: '991px') {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--nt-white);
    text-transform: uppercase;
    font-weight: 600;
  }
}

.link {
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--nt-orange);
    transition: width 200ms ease;
  }
  &:hover {
    &::before {
      content: ' ';
      width: 100%;
    }
  }
}

.linksMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 70px;
  > * {
    margin: 20px 10px;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -10px;
}

.buttonMobile {
  @include styled.button;
  color: var(--nt-green) !important;
}

.button {
  @include styled.button;
  margin-top: -10px;
  color: var(--nt-green) !important;
}
